<li id="micropost-<%= micropost.id %>">
  <%= link_to profile_picture_for(micropost.user), micropost.user %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user %>
    <div class="pull-right">
    <%= if logged_in? && !current_user?(micropost.user) 
          render(partial: 'users/follow_form', locals: { u: micropost.user }) 
        end %>
    </div>
   </span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "Delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" },
                                       class: "btn btn-xs btn-danger" %>
    <% end %>
  </span>
</li>
